@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@900&display=swap');

html {
	cursor: crosshair;
	font-family: 'Urbanist', sans-serif;
}

html,
body {
	height: 100%;
}
body {
	background: #111;
	overflow: hidden;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	line-height: 20px;
	display: grid;
	place-items: center center;
}
section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section h2 {
	position: relative;
	color: #fff;
	font-size: 9em;
}

p {
	color: #f5a442;
}
