@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'mixins/funcs';
@import 'mixins/vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	background: linear-gradient($primary-color, $second-color);
	overflow-x: hidden;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	@include alignment(space-between, center);
	z-index: 10000;

	.logo {
		color: $text-color;
		font-weight: 700;
		text-decoration: none;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	ul {
		display: flex;
		@include alignment(center, center);
	}
	ul,
	li {
		list-style: none;
		margin-left: 20px;

		a {
			text-decoration: none;
			padding: 6px 15px;
			color: $text-color;
			border-radius: 20px;

			&:hover, &.active {
				background: #fff;
				color: $primary-color;
			}
		}
	}
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	@include alignment(center, center);
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(to top, #1c0522, transparent);
		z-index: 1000;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;

		&#moon {
			mix-blend-mode: screen;
		}
		&#mountains_front {
			z-index: 10;
		}
	}
}

#text {
	position: absolute;
	right: -350px;
	color: $text-color;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
}
#btn {
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: $primary-color;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}

.sec {
	position: relative;
	padding: 100px;
	background: #1c0522;

	h2 {
		font-size: 3.5em;
		margin-bottom: 10px;
		color: $text-color;
	}
	p {
		font-size: 1em;
		color: $text-color;
	}
}
